.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  color: #fff;
  background-color: #00B48C;
  border-color: #00B48C;
  cursor: pointer;

  &:hover {
    background-color: #009775;
    border-color: #009775;
  }

  &.outline {
    color:#00B48C;
    background-color: #FFFFFF;
    border-color: #00B48C;

    &:hover {
      color:#999;
      border-color: #999;

      abbr,b,bdo,canvas,cite,code,command,
      data,datalist,dfn,em,i,img,kbd,mark,
      math,meter,noscript,output,progress,q,ruby,
      samp,script,small,span,strong,sub,sup,svg,
      time,var,wbr {
        color:#999;
        border-color: #999;
        
        &::before {
          color:#999;
          border-color: #999;
        }
      }
    }
  }

  &:disabled {    
    color: #fff;
    background-color: #ccc;
    border-color: #ccc;
  }
}