$color-black: #333;
$color-gray: #3b3d40;
$color-white: #fff;
$color-offWhite: #FAFAFA;
$color-darkGreen: #34B388;
$color-green: #00b48c;
$color-lightGreen: #b9ede2;
$color-yellow: #fdcf51;
$color-orange: #f68a16;
$color-blue: #0071bc;
$color-red: #db3806;
$footer-border-color: #809995;
$border-color: #ccc;
$link-color: #29abe2;
$sp: 755px;
$headerBreakPoint: 1124px;

@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}
@mixin headerMobile {
  @media screen and (max-width: ($headerBreakPoint)) {
    @content;
  }
}

@function fz($size) {
  @return ($size / 16) + rem;
}

@function vw($max, $n) {
  @return (($n / $max) * 100) + vw;
}
@function raito($parent, $n) {
  @return (($n / $parent) * 100) * 1%;
}

@function em($size, $n) {
  @return ($n / $size) + em;
}

// タテヨコ比
@function xyRaito($x, $y) {
  @return (($y / $x) * 100) * 1%;
}

.normalButton {
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 4px;
  color: #3c3c3c;
  padding: 3px 6px;
  cursor: pointer;

  &:hover {
    background-color: #eee;
  }
}

.error {
  margin: 5px 0;
  color: #dc3545;
  font-size: 13px;
}

.badge {
  padding: 6px 8px;
  font-size: 13px;
  border: none;
  border-radius: 3px;
  text-align: center;
}

.posting {
  background-color: #0d6efd;
  color: #fff;
}

.voting {
  background-color: #198754;
  color: #fff;
}

.end {
  background-color: #6c757d;
  color: #fff;
}

a {
  text-decoration: none;
  color: #3c3c3c;
}

.forSp {
  display: none;

  @include sp {
    display: block;
  }
}