@import 'pages/common/styles/common.scss';

.header {
  position: fixed;
  width: 100%;
  color: #3c3c3c;
  background-color:  #fff;
  font-size: 15px;
  border-bottom: 1px solid #b9b9b9;
  box-sizing: border-box;
  height: 64px;
  z-index: 900;
}

.inner {
  margin: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.leftInner {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo {
  display: flex;
  align-items: center;
  width: 200px;
  cursor: pointer;

  &:hover {
    opacity: .8;
  }

  .copy {
    font-size: 22px;
    font-weight: bold;
    margin-left: 5px;
    
    @include sp {
      font-size: 18px;
    }
  }
}

.serviceList {
  margin-left: 15px;
  height: 100%;
  display: flex;
  align-items: center;

  @include sp {
    display: none;
  }

  ul {
    display: flex;
    align-items: center;
    height: 100%;
    

    li {
      display: flex;
      align-items: center;
      height: 100%;

      &:hover {
        background-color: #f3f3f3;
        cursor: pointer;
      }

      a {
        display: flex;
        align-items: center;
        height: 100%;
      }

      span {
        display: flex;
        align-items: center;
        font-size: 16px;
        height: 50%;
        padding: 0 10px;
      }

      &:not(:first-child) {
        span {
          border-left: 1px solid #b9b9b9;
        }
      }
    }
  }
}

.logout {
  margin-right: 15px;
  padding: 0 10px;
  height: 100%;
  display: flex;
  align-items: center;

  &:hover {
    background-color: #f3f3f3;
    cursor: pointer;
  }

  @include sp {
    display: none;
  }
}

.headerBack {
  height: 64px;
}

.navSwitchChk {
  display: none;
}

.navSwitch {
  height: 26px;
  width: 35px;
  cursor: pointer;
  position: relative;
  display: block;
  
  span {
    position: absolute;
    top: 0;
    bottom: 0;
    transition: .2s;
    margin: auto;
    height: 2px;
    background-color: #666;
    border-radius: 3px;
    display: block;
    width: 100%;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    transition: .2s;
    height: 2px;
    border-radius: 3px;
    background-color: #666;
    display: block;
    width: 100%;
    transform-origin: left;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    transition: .2s;
    height: 2px;
    border-radius: 3px;
    background-color: #666;
    display: block;
    width: 100%;
    transform-origin: left;
  }
}

.navSwitchOpen {
  span {
    display: none;
  }

  &::before {
    transform: rotate(-45deg) translate(3px, 4px);
  }

  &::after {
    transform: rotate(45deg) translate(3px, -4px);
  }
}


.spMenuPrelogin {
  display: block;
  &.none {
    height: 0;
    border: 0px solid #b9b9b9;
    transition: all .2s;
  }

  position: absolute;
  top: 60px;
  right: 3px;
  width: 200px;
  height: 180px;
  transition: height .2s;
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid #b9b9b9;
  overflow: hidden;

  ul {
    li {
      position: relative;
      // height: 40px;
      line-height: 25px;
      font-size: 18px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      color: #3c3c3c;
      text-decoration: none;
      padding: 10px 15px;
      cursor: pointer;

      &:hover {
        background-color: #f3f3f3;
      }
    }
  }
}

