@import 'pages/common/styles/preLoginCommon.scss';

.main {
  display: block;
  min-width: 1140px;
  box-sizing: border-box;
  padding-bottom: em(15, 150);
  font-weight: 700;
  @include sp {
    padding-bottom: em(15, 50);
  }
}

.childTitle {
  font-size: fz(32);
  color: #1c9c7f;
  text-align: center;
  background-color: #e1f8f3;
  padding: em(32, 42) 0;
  margin-bottom: 50px;
  @include sp {
    font-size: fz(22);
    padding: em(22, 25) 0 em(22, 20);
    margin-bottom: em(22, 30);
  }
}

.childContainer {
  max-width: 1000px;
  width: 93.75%;
  margin: 0 auto 45px;
}

.form {
  $parent: &;
  background-color: $color-offWhite;
  padding: 70px 0;
  border: 1px solid $border-color;
  border-radius: 3px;
  box-shadow: 0 0 5px #04000024;
  @include sp {
    padding: em(15, 20) 0 em(15, 30);
  }

  &__inner {
    max-width: 700px;
    width: 90%;
    margin: 0 auto;
  }

  &__parts {
    display: flex;
    align-items: center;
    padding-bottom: 35px;
    border-bottom: 1px solid #b9b9b9;
    @include sp {
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 0;
      border-bottom: none;
    }

    &Must {
      align-items: flex-start;

      #{$parent}__title {
        margin-top: 14px;
        @include sp {
          margin-top: 0;
        }
      }
    }
  }

  &__parts + &__parts {
    margin-top: em(15, 20);
  }

  &__title {
    width: 28.57%;
    @include sp {
      width: inherit;
      margin-bottom: em(15, 6);
    }

    small {
      display: inline-block;
      margin-top: 5px;
      font-size: 14px;
    }
  }

  &__preInput {
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 400;
    color: #333;
  }

  &__input {
    position: relative;
    width: calc(100% - 28.57%);
    @include sp {
      width: 100%;
    }

    input,
    textarea,
    select {
      border: 1px solid #b9b9b9;
      border-radius: 3px;
      width: 100%;
      font-size: 15px;
      padding: em(15, 13) em(15, 20);
      background-color: $color-white;
      box-sizing: border-box;

      &:focus {
        outline: 5px auto $color-green;
      }
    }

    textarea {
      resize: none;
      min-height: 120px;
    }

    .half-item {
      display: flex;
      justify-content: space-between;

      input {
        width: 48%;
      }
    }
  }

  .must {
    display: block;
    position: relative;

    &::after {
      content: '※';
      color: $color-red;
      position: absolute;
      right: 1em;
      @include sp {
        font-size: fz(12);
        right: -1em;
      }
    }
  }

  ::placeholder {
    color: #999;
  }

  .forgotPassword {
    text-align: center;
    margin-top: 40px;
    font-size: 15px;
    font-weight: 400;

    a {
      color: $link-color;
      text-decoration: none;
    }

    .arrow {
      position: relative;
      display: inline-block;
      margin-left: 1em;

      &::before {
        content: '';
        position: absolute;
        display: inline-block;
        border-color: $link-color;
        width: 8px;
        height: 8px;
        border-style: solid;
        border-width: 2px 2px 0 0;
        transform: translateY(-50%) rotate(45deg);
        top: 50%;
        left: -1.3em;
      }
    }
  }

  // エラーチェック
  span {
    &.isError {
      font-size: fz(14);
      color: $color-red;
      display: inline-block;
      margin-top: em(15, 10);
    }
  }

  input,
  select,
  textarea {
    &.isError {
      border: 1px solid $color-red;
    }
  }
}

.buttonArea {
  margin-top: 20px;
  display: flex;
  justify-content: center;

  .arrow {
    position: relative;
    display: inline-block;
    margin-left: 1em;

    &::before {
      content: '';
      position: absolute;
      display: inline-block;
      border-color: #fff;
      width: calc(1.15em / 2);
      height: calc(1.15em / 2);
      border-style: solid;
      border-width: 2px 2px 0 0;
      transform: translateY(-50%) rotate(45deg);
      top: 50%;
      left: -1.3em;
    }

    &.arrowGreen{
      font-size: 16px;

      &::before {
        width: 7px;
        height: 7px;
        border-width: 1px 1px 0 0;
        border-color: #00B48C;
      }
    }
     
  }
}

.description {
  color: #b9b9b9;
  padding: 20px 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

.backLoginWap {
  display: flex;
  justify-content: center;

  .backLogin {
    display: inline-block;
    margin-top: 40px;
    box-sizing: border-box;
    text-align: center;
    color: $link-color;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;

    &:hover {
      text-decoration: underline;
    }

    &.arrow {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          display: inline-block;
          border-color: $link-color;
          width: calc(1em / 2);
          height: calc(1em / 2);
          border-style: solid;
          border-width: 1px 1px 0 0;
          transform: translateY(-50%) rotate(45deg);
          top: 50%;
          left: -1.15em;
        }
      }
  }
}

.thanksTitle {
  color: #333333;
  font-size: fz(22);
  line-height: 1.68;
  text-align: center;
  margin-top: em(22, 70);
  margin-bottom: em(22, 40);
}

.thanksText {
  color: #333333;
  font-size: 15px;
  line-height: 1.8;
  text-align: center;
  font-weight: 400;
}

.formNote {
  color: #666;
  font-size: fz(14);
  font-weight: 400;
  line-height: 1.71;
  max-width: 700px;
  margin: 50px auto 0;
  background-color: #F6F6F6;
  padding: em(14, 30) em(14, 36);
}

.noteList {
  li {
    position: relative;
    padding-left: 1.25em;
    font-size: fz(14);

    &::before {
      content: '※';
      position: absolute;
      left: 0;
    }
  }
}

.listNumNormal {
  counter-reset: numNormal;

  p {
    margin-bottom: 0.75em;
  }

  > li {
    position: relative;
    padding-left: 1.2em;

    &::before {
      content: '';
      display: inline-block;
      counter-increment: numNormal;
      content: counter(numNormal) ".";
      position: absolute;
      left: 0;
    }

    &:nth-child(n + 10) {
      padding-left: 1.85em;
    }
  }

  > .listNumNormal,
  > .listNumBrackets {
    margin-left: 1em;
  }
}

// カッコの数字リスト
.listNumBrackets {
  counter-reset: numBrackets;

  p {
    margin-bottom: 0.75em;
  }

  > li {
    position: relative;
    padding-left: 1.75em;

    &::before {
      content: '';
      display: inline-block;
      counter-increment: numBrackets;
      content: "(" counter(numBrackets) ")";
      position: absolute;
      left: 0;
    }

    &:nth-child(n + 10) {
      padding-left: 2.25em;
    }
  }

  > .listNumNormal,
  > .listNumBrackets {
    margin-left: 1em;
  }
}

.entryNotice {
  display: block;
  font-size: fz(13);
  color: #666;
  margin-top: em(13, 8);
  font-weight: 400;
}

.passwordEye {
  position: absolute;
  right: 14px;
  top: 15px;
  cursor: pointer;
}

.passwordEyeSlash {
  position: absolute;
  right: 14px;
  top: 10.5px;
  cursor: pointer;
}

.formError {
  color: $color-red;
  border: 2px solid $color-red;
  box-sizing: border-box;
  padding: em(15, 13);
  text-align: center;
  font-weight: 400;
  margin-bottom: em(15, 30);
  @include sp {
    margin-bottom: 1.25em;
  }
}

.agreement {
  display: flex;
  flex-direction: column;
  align-items: center;

  .agreementCheck {
    display: flex;
  }

  pre {
    padding: 10px;
    font-size: 12px;
    white-space: pre-wrap;
    line-height: 16px;
    height: 500px;
    overflow-y: scroll;
    border: 1px #ccc solid;
    border-radius: 5px;
    background-color: #fff;
  }

  div {
    margin: 20px 0;
  }
}