@import 'pages/common/styles/preLoginCommon.scss';

.main {
  background-color: #f2f2f2;
  display: block;
  width: 100%;
  padding-bottom: em(15, 150);
  font-weight: 700;
  color: #333;
  @include sp {
    padding-bottom: em(15, 50);
  }
  box-sizing: border-box;
}

.childContainer {
  max-width: 1000px;
  width: 93.75%;
  margin: 0 auto;
  padding: 50px 0px;

  .innerContainer {
  background-color: #fff;
  padding: 50px 0;
  border: 1px solid #b9b9b9;
  border-radius: 3px;
  max-width: 1000px;
  }
}

.childTitle {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  margin: 0 auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #b9b9b9;
  max-width: 700px;
  width: 90%;
}

.title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 25px;
  max-width: 700px;
  width: 90%;
  margin: 30px auto 0;
}

.description {
  font-size: 14px;
  line-height: 18px;
  max-width: 590px;
  margin: 30px auto 0;
  padding: 10px;
  word-break: break-all;
  white-space: pre-wrap;
}

.inner {
  max-width: 700px;
  width: 90%;
  border-top: 1px solid #b9b9b9;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;

  p  {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    line-height: 25px;
  }
  button {
    margin-top: 20px;
  }
}